<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>note taking app</title>
</head>
<body>
    <nav>
        Note Taker
    </nav>
    <div class="container">
        <h1 class="idk">Note Taker</h1>
        <p class="idk">Take notes with Express</p>
        <a href="/notes" class="idk notes-a">Get Started</a>
    </div>
</body>
</html>